.banner {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  margin-bottom: 100px;
  @include breakpoint('touch') {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint('phone') {
    text-align: center;
    justify-content: center;
  }
}

.banner__editor {
  display: flex;
  align-items: center;
  background: $lite-gray;
  width: 55%;
  border-radius: 30px;
  margin-bottom: 15px;
  @include breakpoint('phone') {
    margin: 0 auto 10px auto;
  }
}

.banner__icon {
  height: 30px;
  width: 30px;
  background: $orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  margin-right: 10px;
}

.banner__editor-text {
  color: $blue-text;
}

.banner__title {
  font-size: 60px;
  max-width: 520px;
  color: $blue-text;
  margin-bottom: 30px;
  @include breakpoint('phone') {
    margin: 0 auto 30px auto;
  }
}

.banner__text {
  max-width: 425px;
  color: $gray-text;
  font-size: 18px;
  margin-bottom: 30px;
  @include breakpoint('phone') {
    margin: 0 auto 30px auto;
  }
}

.banner__link {
  margin-right: 30px;
}

.banner__cta {
  color: $blue;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: $blue;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: $transition;
  }
  &:hover::after {
    width: 100%;
  }
}

.banner__img-block {
  @include breakpoint('tablet') {
    width: 300px;
  }
  @include breakpoint('phone') {
    display: none;
  }
}

.banner__img {
  width: 100%;
}

.banner__video-block {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $blue-text;
  opacity: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: $transition;
}

.active-video {
  top: 0;
  left: 0;
  opacity: 0.9;
  pointer-events: all;
}

.banner__video {
  width: 50%;
  height: 50%;
  @include breakpoint('phone') {
    width: 80%;
    height: 35%;
  }
}

.banner__iframe {
  width: 100%;
  height: 100%;
}

.banner__video-exit {
  display: block;
  float: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon-exit {
  color: $white;
  font-size: 42px;
}
