.cards {
  margin-bottom: 200px;
  @include breakpoint('tablet') {
    margin-bottom: 100px;
  }
  @include breakpoint('phone') {
    margin-bottom: 50px;
  }
}

.cards__title {
  font-size: 36px;
  font-weight: 600;
  max-width: 430px;
  margin: 0 auto 30px auto;
  text-align: center;
  color: $blue-text;
}

.cards__text {
  color: $gray-text;
  max-width: 630px;
  margin: 0 auto 100px auto;
  text-align: center;
  line-height: 24px;
}

.cards__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  max-width: 320px;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 50px;
}

.card__img {
  margin-bottom: 20px;
}

.card__subtitle {
  font-size: 20px;
  color: $blue-text;
  margin-bottom: 10px;
}

.card__text {
  color: $gray-text;
  line-height: 24px;
}
