.testimonials {
  margin-bottom: 100px;
}

.testimonials__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.testimonials__img-block {
  width: 50%;
  transform: translateX(-200px);
  @include breakpoint('tablet') {
    transform: translateX(0);
  }
  @include breakpoint('phone') {
    display: none;
  }
}

.testimonials__img {
  @include breakpoint('tablet') {
    width: 420px;
  }
}

.testimonials__content {
  width: 50%;
  @include breakpoint('phone') {
    width: 100%;
  }
}

.testimonials__title {
  font-size: 40px;
  color: $blue-text;
  margin-bottom: 20px;
}

.testimonials__text {
  color: $gray-text;
  margin-bottom: 30px;
}

.testimonials__icons {
  margin-bottom: 20px;
}

.testimonials__icon {
  color: #ffcc00;
}

.testimonials__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.testimonials__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint('phone') {
    flex-direction: column;
    align-items: flex-start;
  }
}

.testimonials__person-img {
  margin-right: 20px;
  @include breakpoint('touch') {
    width: 70px;
  }
}

.testimonials__person-block {
  display: flex;
  align-items: center;
  @include breakpoint('phone') {
    margin-bottom: 20px;
  }
}

.testimonials__name-title {
  display: block;
  color: $blue-text;
  font-weight: 600;
  font-size: 18px;
  @include breakpoint('touch') {
    font-size: 16px;
  }
}

.testimonials__name-subtitle {
  display: block;
  color: $gray-text;
  font-size: 18px;
  @include breakpoint('touch') {
    font-size: 16px;
  }
}

.testimonials__btns {
  margin-left: auto;
  @include breakpoint('phone') {
    margin: 0 auto;
  }
}

.testimonials__btn {
  border: none;
  outline: none;
  background: $lite-gray;
  padding: 20px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: $blue-text;
    .testimonials__icon-btn {
      color: $white;
    }
  }
}

.testimonials__icon-btn {
  color: $blue-text;
}
